{% extends '../base.html' %}
{% load static %}


{% block title %}home{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content%}
    <div class="container">
        <div>
            <form action="." method="GET">
                {% csrf_token %}
                <input type="text" name="search" placeholder="Search by name">
                <label>Price:</label>
                <input type="number" name="min_price" placeholder="Min price">
                <input type="number" name="max_price" placeholder="Max price">
                <label>Availability:</label>
                <input type="checkbox" name="available"> Available
                <label>Alcohol Content:</label>
                <input type="range" name="alcohol_content" min="0" max="100">
                <label>Brand:</label>
                <select name="brand">
                  <option value="">Any</option>
                  {% for brand in brands %}
                  <option value="{{brand.id}}">{{brand.name}}</option>
                  {% endfor %}
                  <!-- Add more options as needed -->
                </select>
                <label>Category:</label>
                <select name="category">
                  <option value="">Any</option>
                  {% for category in categories%}
                  <option value="{{category.id}}">{{category.name}}</option>
                  {% endfor %}
                  <!-- Add more options as needed -->
                </select>
                <button type="submit">Search</button>
              </form>
        </div>         
        <div class="table" style="margin-top: 50px;">
            <table class="table table-striped">
                <thead>
                  <tr class="table-danger">
                    <th scope="col">#</th>
                    <th scope="col">Product name</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Percentage</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for product in products %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.brand }}</td>
                    <td>{{ product.abv }}%</td>
                    <td>{{ product.price }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>

{% endblock %}